Source: emacs-fsharp-mode
Section: editors
Priority: optional
Maintainer: Debian Emacs addons team <pkg-emacsen-addons@lists.alioth.debian.org>
Uploaders: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 9), dh-elpa (>= 0.0.17)
Standards-Version: 3.9.6
Homepage: https://github.com/fsharp/emacs-fsharp-mode
Vcs-Git: git://anonscm.debian.org/pkg-emacsen/pkg/emacs-fsharp-mode.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-emacsen/pkg/emacs-fsharp-mode.git

Package: elpa-fsharp-mode
Architecture: all
Depends: ${misc:Depends}, emacsen-common
Enhances: fsharp, emacs
Description: Emacs major mode for editing F# programs
 Fsharp-mode provides syntax highlighting and automatic
 indentation for F# aka fsharp.
